@page
@model LibraryManagementSystem.Pages_Books.IndexModel

@{
    ViewData["Title"] = "List of Books";
}

<h1>Books List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Library[0].BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Library[0].BookCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Library[0].BookDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Library[0].BookAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Library[0].PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Library[0].OnLoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Library[0].LoanedTimes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Library[0].LoanedByName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Library) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnLoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanedTimes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanedByName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
